$white: #fff;
$black: #1d1d1d;
$gray: #989696;
$gray-2: #898888;
$black_2: #000000;
$black-3: #161616;
$gray-3: #d0d0d0;
$gray-4: #b7b7b7;
$white-2: #fefefe;
$icons-cl: #e4e4e4;
$gray-5: #b3b3b3;
$text-1: #464646;
$text-2: #383838;
$border: #707070;
$footer: #3b3b3b;
$black-bk: #181818;
