@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;

  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;

  font-family: "Merriweather-LightItalic";
  src: url("../assets/fonts/Merriweather-LightItalic.woff2") format("woff2");
  font-weight: 400;

  font-family: "Merriweather-LightItalic";
  src: url("../assets/fonts/Merriweather-LightItalic.woff") format("woff");
  font-weight: 400;

  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;

  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;

  font-family: "Montserrat-Lt";
  src: url("../assets/fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 400;

  font-family: "Montserrat-Lt";
  src: url("../assets/fonts/Montserrat-Light.woff") format("woff");
  font-weight: 400;

  font-family: "HelveticaNeueLTPro-Md";
  src: url("../assets/fonts/HelveticaNeueLTPro-Md.woff2") format("woff2");
  font-weight: 400;

  font-family: "HelveticaNeueLTPro-Md";
  src: url("../assets/fonts/HelveticaNeueLTPro-Md.woff") format("woff");
  font-weight: 400;

  font-family: "HelveticaNeueLTProLt";
  src: url("../assets/fonts/HelveticaNeueLTPro-Lt.woff2") format("woff2");
  font-weight: 400;

  font-family: "HelveticaNeueLTProLt";
  src: url("../assets/fonts/HelveticaNeueLTPro-Lt.woff") format("woff");
  font-weight: 400;

  font-family: "HelveticaNeueLTPro-Roman";
  src: url("../assets/fonts/HelveticaNeueLTPro-Roman.woff2") format("woff2");
  font-weight: 400;

  font-family: "HelveticaNeueLTPro-Roman";
  src: url("../assets/fonts/HelveticaNeueLTPro-Roman.woff") format("woff");
  font-weight: 400;
}
